if followup
  div.followup
    hr
    h2 Next Steps
      if followup.subtext
        br
        small  #{followup.subtext}
    ul
      each title, link in followup.links
        li
          a(href=link)= title
