head
  meta(charset='utf-8')
  meta(http-equiv="X-UA-Compatible", content="IE-edge")
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  if title
    title !{title} | Taskcluster Documentation
  else
    title Taskcluster Documentation
  link(rel='shortcut icon', href='/docs/assets/favicon.ico')
  // Bootstrap and Awesome Font styles
  link(rel='stylesheet', href='/docs/assets/bootstrap/css/bootstrap.min.css')
  // Custom styling
  link(rel='stylesheet', href='/docs/assets/style.css')
