
doctype html
html(lang='en')
  include head.pug
  body
    include navbar.pug
    .container
      .row
        section.col-md-9.content
          | !{content}
          include followup.pug
        aside.col-md-3
          include sidebar.pug
