doctype html
html(lang='en')
  include head.pug
  body
    include navbar.pug
    if nav
      #content.container-fluid
        .row
          .col-xs-12.hidden-md.hidden-lg
            button.btn.btn-primary(type="button", data-toggle="collapse", data-target="#sidebar") Menu
            hr
          aside#sidebar.col-md-3.col-xs-12.hidden-sm.hidden-xs
            include sidebar.pug
          section#content.col-md-9
            if title
              h1 !{title}
              hr
            | !{content}
            include followup.pug
            include pager.pug
    else
      #content.container
        if title
          h1 !{title}
          hr
        | !{content}
        include followup.pug
        include pager.pug
    include footer.pug
