nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar").navbar-toggle.collapsed
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/docs")
        img(src="/docs/assets/taskcluster.svg")
        | TASKCLUSTER <span class="bullet">&bullet;</span> DOCS
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        - var sections = { tutorial : 'Tutorial', manual: 'Manual', reference: 'Reference', resources: 'Resources' }
        for section, p in sections
          li(class= (p === path.split('/')[1]) && 'active')
            a(href="/docs/" + p)= section
