mixin sidebarList(children)
  each child in children
    li
      if child.path == path
        span.active #{child.title}
      else if child.link
        a(href=child.path) #{child.title}
      else
        span #{child.title}
      if child.children
        ul
          +sidebarList(child.children)

if nav
  ul.main-menu.nav.nav-stacked
    if nav.toc
      +sidebarList(nav.toc)
