nav.navbar-inverse .navbar-brand {
  color:        #00d8ff;
  padding-top:  0;
  line-height:  50px;
}

nav.navbar-inverse .navbar-text {
  color: #fff;
}

.content {
  margin-bottom: 50px;
}
.sequence-diagram-hand, .sequence-diagram-simple {
  text-align: center;
}
