<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TaskCluster - Documentation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap and Awesome Font styles-->
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-theme.min.css">

    <!-- Custom styling-->
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/highlight.css">
    <link rel="stylesheet" href="/assets/markdown.css">

    {% if page.docson %}
    <!-- JSON Schema Documentation -->
    <link rel="stylesheet" href="/assets/docson.css">
    <link rel="stylesheet" href="/assets/docson/css/docson.css">
    <script src="/assets/docson/lib/require.js"></script>
    <script>
    require.config({baseUrl: "/assets/docson/"});
    require(["docson", "lib/jquery"], function(docson) {
      // Wait for document to load
      $(function() {
        docson.templateBaseUrl = "/assets/docson/templates";
        $('[data-render-schema]').each(function() {
          var el = $(this);
          var schema = el.data('render-schema');
          $.get(schema, function(data) {
            docson.doc(el, data);
          });
        });
      });
    });
    </script>
    {% endif %}

    {% if page.prism %}
    <link rel="stylesheet" href="/assets/prism.css">
    <script src="/assets/prism.js"></script>
    {% endif %}

    <!-- jQuery and Bootstrap Javascript-->
    <script src="/assets/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js">
    </script>

    {% if page.sequence_diagrams %}
    <script src="/assets/raphael-min.js"></script>
    <script src="/assets/underscore-min.js"></script>
    <script src="/assets/sequence-diagram-min.js"></script>
    <script>
    $(function() {
      $(".sequence-diagram-hand").sequenceDiagram({theme: 'hand'});
      $(".sequence-diagram-simple").sequenceDiagram({theme: 'simple'});
    });
    </script>
    {% endif %}

    {% if page.JSONFormatter %}
    <link rel="stylesheet" href="/assets/JSONFormatter/JSONFormatter.css">
    <script src="/assets/JSONFormatter/JSONFormatter.js"></script>
    {% endif %}

    {% if page.ejs %}
    <script src="/assets/ejs_production.js"></script>
    {% endif %}

    {% if page.moment %}
    <script src="/assets/moment.min.js"></script>
    {% endif %}

    {% if page.TermJS %}
    <script src="/assets/term.js"></script>
    {% endif %}

    {% if page.JSONForm %}
    <script src="/assets/underscore-min.js"></script>
    <script src="/assets/ace/ace.js"></script>
    <script src="/assets/ace/mode-javascript.js"></script>
    <script src="/assets/ace/mode-json.js"></script>
    <script src="/assets/ace/mode-markdown.js"></script>
    <script src="/assets/ace/mode-sh.js "></script>
    <script src="/assets/ace/theme-twilight.js"></script>
    <script src="/assets/marked.js"></script>
    <script src="/assets/jsonform.js"></script>
    {% endif %}

    {% if page.marked %}
    <script src="/assets/marked.js"></script>
    {% endif %}


    {% if page.BootstrapSelect %}
    <link rel="stylesheet" href="/assets/bootstrap-select/bootstrap-select.min.css">
    <script src="/assets/bootstrap-select/bootstrap-select.min.js"></script>
    {% endif %}
  </head>
  <body>
    <nav role="navigation" class="navbar navbar-default">
      <div class="navbar-header"><a href="/" class="navbar-brand">Task Cluster - Documentation</a></div>
      <ul class="nav navbar-nav">
        {% for section in site.sections %}
          {% if section.url == page.url %}
            <li class="active">
          {% else %}
            <li>
          {% endif %}
            {% if section.href %}
              <a href="{{ section.href }}">{{ section.name }}</a>
            {% else %}
              <a href="{{ section.url }}">{{ section.name }}</a>
            {% endif %}
          </li>
        {% endfor %}
    </nav>
    <div class="container">
      <div class="row">
        <section class="col-md-8 {{page.class}} content">
          {{ content }}
        </section>
        <aside class="col-md-4">
          {% for section in site.sections %}
            {% comment %}
            Below we have crazy hack that sets sec = section if page.url is
            referenced in section...
            {% endcomment %}
            {% assign sec = nil %}
            {% if section.url == page.url %}
              {% assign sec = section %}
            {% endif %}
            {% for entry in section.links %}
              {% if entry.url == page.url %}
                {% assign sec = section %}
              {% endif %}
            {% endfor %}

            {% comment %}
            Now if sec is set, we go crazy and output links from it
            {% endcomment %}
            {% if sec %}
              <h2>{{ sec.name }}</h2>
              <ul class="nav nav-pills nav-stacked">
              {% for entry in sec.links %}
                {% if entry.url == page.url %}
                  <li class="active">
                {% else %}
                  <li>
                {% endif %}
                  {% if entry.href %}
                    <a href="{{ entry.href }}">{{ entry.name }}</a>
                  {% else %}
                    <a href="{{ entry.url }}">{{ entry.name }}</a>
                  {% endif %}
                </li>
              {% endfor %}
              </ul>
            {% endif %}
          {% endfor %}
        </aside>
      </div>
    </div>
  </body>
</html>