<div class="node">
  <span class="node-label"><%= task.label %></span><br>
  <code class="node-task-id">
    <a href="/tools/task-inspector/#<%= task.taskId %>">
      <%= task.taskId.substr(0, 8) %>...
    </a>
  </code>
</div>